
.NavBar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99DDC6;
  font-size: 30px;

}

.NavBar div {
  float: left;
}

.NavBar div a {
  display: block;
  color: #171616;
  text-align: center;
  padding: 35px 30px;
  text-decoration: none;
}

.NavBar div a:hover:not(.active) {
  background-color: #111;
  color: aliceblue;
}

.NavBar .active {
  background-color: #171616;
}
.NavBar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161717;
}

.NavBar2 li {
  float: left;
}

.NavBar2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar2 li a:hover:not(.active) {
  background-color: #111;
}

.NavBar2 .active {
  background-color: #333;
}
/*
.Log {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #99DDC6;
}
*/
